.bubble{
    position: relative;
    &__circle{
        border-radius: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0s linear 2s, color 0s linear 2s
    }
    &__title{
        padding-top: 5px;
        position: absolute;
        width:100px;
        text-align: center;
        left: -30px;
    }
}